<!--The whole content below can be removed with the new code.-->
 
<div class="container">
	<div class="row">
		<div class="col-xs-12"><h3>I'm in the app component</h3>
			<hr />
			<app-servers></app-servers>
		</div>
	</div>
</div>

<app-success-message></app-success-message>
<app-warning-message></app-warning-message>
<app-error-message></app-error-message>


  <!-- załadowanie własnego komponentu -->
 
 <hr>
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>

<ul>
  <input type="text" [(ngModel)] = "name">
  <p> {{ name }}</p>




<app-name-input></app-name-input>

</ul>

