<div class="row">
	<dir class="col-xs-12">
		<img src="" alt="" class="img-responsive">
	</dir>
</div>
<div class="row">
	<h2 class="col-xs-12">
		Recipe Name
	</h2>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="btn-group">
			<button class="btn btn-primary dropdown-toggle">
				Manage Recipe <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="#">Add ingiedients to shopping list</a></li>
				<li><a href="#">Edti recipe</a></li>
				<li><a href="#">Delete recipe</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		Description
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		Ingredients
	</div>
</div>